@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h2>Blow Out Instruments</h2>
<p>
    Blow Out Instruments, was started in 1935 by Dave Wilson when his his first son was 13.
     He was surprised by the outragous cost of renting an instrument for his son to learn, and decided he could do something to providing
    quality new and used intrument rentals for everyone. With over 7,000 instruments in our 
    inventory, we have been able to provide afforadable rental instruments for over 45 years. 
</p>
<p>
    Blow Out Instruments was founded with the idea and hope of being able to provide affordable
    rentals for all who want to gain a musical talent. Fredrick was raised with a musically talented
    mother, and an equally talented businessman for a father. Noticing that many schools had music
    and band programs, Fredrick set out to provide the best instrumental rental service possible.
    And he has!
</p>
<p>
    Blow Out Instruments has received numerous awards in its 46 year history. Most noteable, in 2014
    Blow Out received a "Best of" award for all music stores in the United States, specifically for
    Customer Satsifaction and Rental Instrument Value.
</p>