@{
    ViewBag.Title = "About Us";
}
<!--Checkpoint 3 BreadCrumb to navigate back to another page-->
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("About Us", "About", "Home")</li>
</ol>
<h2>@ViewBag.Title</h2>
<h2>Blow Out Instruments</h2>
<div class="row">
    <div class="col-md-6">
        <img src="~/Content/img/founder.jpeg" alt="Founder Image" class="img-responsive" />
    </div>
    <div class="col-md-6">
        <p>
            Blow Out Instruments, was started in 2000 by Dave Wilson when his his first son was 13.
            He was surprised by the outragous cost of renting an instrument for his son to learn,
            and decided he could do something to provide quality new and used intrument rentals for everyone.
            With over 10 instruments in our inventory, we look forward to serving you and your children with
            afforadable rental instruments.
        </p>
        <p>
            Blow Out Instruments was founded with the idea and hope of being able to provide affordable
            rentals for all who want to gain a musical talent. Dave raised his children with his musically talented
            wife. Noticing that many schools had music and band programs, but failed to provide an
            economocal method of obtaining instruments, Dave set out to provide the best instrumental rental service possible.
            And our customers tell us that he has!
        </p>
    </div>
</div>