@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h2>Blow Out Instruments</h2>
<p>
    Blow Out Instruments, founded in 1969 by Fredrick Z. Papadopoulos at the young age of 13, has focused on providing
    quality new and used intrument rentals for everyone. With over 7,000 instruments in our 
    inventory, we have been able to provide afforadable rental instruments for over 45 years. 
</p>
<p>
    Blow Out Instruments was founded with the idea and hope of being able to provide affordable
    rentals for all who want to gain a musical talent. Fredrick was raised with a musically talented
    mother, and an equally talented businessman for a father. Noticing that many schools had music
    and band programs, Fredrick set out to provide the best instrumental rental service possible.
    And he has!
</p>
<p>
    Blow Out Instruments has received numerous awards in its 46 year history. Most noteable, in 2014
    Blow Out received a "Best of" award for all music stores in the United States, specifically for
    Customer Satsifaction and Rental Instrument Value.
</p>