@{
    ViewBag.Title = "Contact";
}
<!--Checkpoint 3 BreadCrumb to navigate back to another page-->
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("Contact Us", "Contact", "Home")</li>
</ol>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    1234 DoReMi Ave<br />
    WhoVille, Ak 77775<br />
    <abbr title="Phone">P:</abbr>
    (465) 324-6573
</address>

<address>
    <strong>Customer Support:</strong>   <a href="">Support@BlowOut.com</a><br />
    <strong>Marketing:</strong> <a href="">Marketing@BlowOut.com</a>
</address>