@{
    ViewBag.Title = "Blow Out";
}

<div class="jumbotron">
    <h1>Welcome to Blow Out Instrument Rentals!</h1>
    <p class="lead">We blow our competitors out of the water!</p>
    <a href='@Url.Action("Rentals", "Home")' class="btn btn-default btn-lg">Learn More &raquo;</a>
</div>

<div class="row">
    <div class="col-md-offset-1">
        <blockquote>
            <p>Music should strike fire from the heart of man, and bring tears from the eyes of woman.</p>
            <footer>Ludwig Van Beethoven</footer>
        </blockquote>
    </div>
</div>