@{
    ViewBag.Title = "Blow Out";
}

<div class="jumbotron">
    <h1>Welcome to Blow Out Instrument Rentals!</h1>
    <p class="lead">We blow our competitors out of the water!</p>
    <p><button class="btn btn-primary btn-lg">Learn more &raquo;</button></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rent New Instruments</h2>
        <p></p>
        <p>
            <button class="btn btn-default">@Html.ActionLink("Learn more", "Rentals", "Instruments") &raquo;</button>
        </p>
    </div>
    <div class="col-md-4">

        <p>"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself”. - Johann Sebastian Bach</p>
    </div>
    <div class="col-md-4">

        <h2>Rent Used Instruments</h2>
        <p></p>
        <p>
            <button class="btn btn-default">@Html.ActionLink("Learn more", "Rentals", "Instruments") &raquo;</button>
        </p>
    </div>
</div>